<div class="sidebar">
  <mat-nav-list>
    @for (id of videoLst; track id) {
    <mat-list-item>
      <a matListItemTitle (click)="getVideo(id)">{{ id }}</a>
    </mat-list-item>
    }
  </mat-nav-list>
</div>

<div class="main-content">
  <div class="upload-container">
    <!-- <input type="file" accept="video/*"> -->
      <!-- <mat-toolbar  class="progress-bar">
        <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
        <span class="progress">{{ progress }}%</span>
      </mat-toolbar> -->
    
      <mat-form-field class="form-field">
        <div>
          <mat-toolbar>
            <input matInput [value]="fileName" />
    
            <button
              mat-flat-button
              color="primary"
              (click)="uploadVideo()"
            >
              Upload
            </button>
          </mat-toolbar>
    
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            (change)="onInput($event)"
          />
        </div>
      </mat-form-field>
  </div>
  <div class="video-container">
    <video [src]="video" autoplay controls class="video-item"></video>
    <video [src]="video" autoplay controls class="video-item"></video>
  </div>
</div>


<!-- 
<input
       type="file"
       (input)="onInput($event)"
>
<button (click)="uploadVideo()">Upload Video</button> -->