<div class="sidebar">
  <mat-nav-list>
    @for (id of videoLst; track id) {
    <mat-list-item (click)="getVideo(id)" [ngClass]="currentId === id ? 'active' : ''">
      <a matListItemTitle>{{ id }}</a>
    </mat-list-item>
    }
  </mat-nav-list>
</div>

<div class="main-content">
  <div class="upload-container">
    @if(isUploading){
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
      <mat-form-field class="form-field">
        <div>
          <mat-toolbar>
            <input matInput [value]="fileName" />
    
            <button
              mat-flat-button
              color="primary"
              (click)="uploadVideo()"
              [disabled]="isUploading"
            >
              Upload
            </button>
          </mat-toolbar>
    
          <input
            type="file"
            accept="video/*"
            id="fileInput"
            name="fileInput"
            (change)="onInput($event)"
          />
        </div>
      </mat-form-field>
  </div>
  <div class="video-container">
    <video [src]="video" autoplay controls class="video-item"></video>
    <video [src]="video" autoplay controls class="video-item"></video>
  </div>
</div>